name: back-compat PR

on:
  pull_request:
    paths:
      - "go.*"
      - "**/*.go"
      - ".github/workflows/*.yml"

permissions:
  contents: read

env:
  GO_VERSION: '1.24.0'

jobs:
  check-back-compat:
    name: build
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: actions/checkout@v4
        with:
          ref: main
      - name: build main
        run: |
          go build -o hours_main
          cp hours_main /var/tmp
          rm hours_main
      - uses: actions/checkout@v4
      - name: build head
        run: |
          go build -o hours_head
          cp hours_head /var/tmp
          rm hours_head
      - name: Run last version
        run: |
          /var/tmp/hours_main --dbpath=/var/tmp/throwaway-empty.db report 3d -p
          /var/tmp/hours_main --dbpath=/var/tmp/throwaway-with-data.db gen -y
      - name: Run current version
        run: |
          echo "empty"
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-empty.db report 3d -p
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-empty.db log 3d -p
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-empty.db stats 3d -p
          echo "with data"
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-with-data.db report 3d -p
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-with-data.db log 3d -p
          /var/tmp/hours_head --dbpath=/var/tmp/throwaway-with-data.db stats 3d -p
